@import "./variables";
@import "./mixins";

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Epilogue", sans-serif;
}

h1 {
  font-size: 4rem;

  @include breakpoint-down(laptop) {
    font-size: 3rem;
  }

  @include breakpoint-down(tablet) {
    font-size: 2.5rem;
  }

  @include breakpoint-down(mobile-md) {
    font-size: 1.75rem;
  }
}

a {
  text-decoration: none;
  color: $mediumGray;
  transition: all 150ms ease-in-out;

  &:hover {
    color: black;
  }
}

button {
  border: none;
  cursor: pointer;
}

.invisible {
  display: none;
}

.arrow-down {
  background-image: url(../images/icon-arrow-down.svg);
}
.arrow-up {
  background-image: url(../images/icon-arrow-up.svg);
}

.btn-bordered {
  border: 2px solid $mediumGray;
  border-radius: 10px;
  padding: 0.75rem 1.25rem;
  transition: all 150ms ease-in-out;

  &:hover {
    color: black;
    border: 2px solid black;
  }
}

.btn-filled {
  background-color: black;
  color: white;
  padding: 1.125rem 2rem;
  border-radius: 14px;
  border: none;
  font-weight: 700;
  font-size: 0.875rem;
  border: 2px solid black;
  transition: all 150ms ease-in-out;

  @include breakpoint-down(laptop) {
    padding: 1rem 1.5rem;
    font-size: 0.75rem;
  }

  &:hover {
    background-color: $almostWhite;
    color: black;
  }
}
